<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rate Reads</title>

  <link rel="stylesheet" href="/styles.css">

  <!-- Import font awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <%- include("partials/navbar.ejs") %>

  <article class="book-info">
    <h2><%= bookData.volumeInfo.title %></h2>
    <p><%= bookData.volumeInfo.description %></p>
  </article>

  <section class="review-container">
    <% if(reviews.length) { %>
      <% for(let i = 0; i < reviews.length; i++) { %>
        <article class="review">
          <p class="review-text"><%= reviews[i].textContent %></p>
        </article>
      <% } %>
    <% } else {%>
      <h2>No Reviews Yet</h2>
    <% } %>
  </section>

  <script type="module" src="/navbar.js"></script>
</body>