<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rate Reads</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <h1>Rate Reads</h1>

  <form class="search-book-form">
    <label for="book-name-input">Enter book name</label>
    <input type="text" id="book-name-input">
  </form>

  <script src="/app.js"></script>
</body>

</html>