<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rate Reads</title>

  <link rel="stylesheet" href="/styles.css">

  <!-- Import font awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <%- include("partials/navbar.ejs") %>

  <main class="search-main">
    <aside class="search-container">
      <h2>Displaying results for: <span id="search-title"><%= locals.title %></span></h2>
      <form class="search-book-form search-small">
        <div class="small-form-wrapper">
          <div class="search-bar">
            <input type="text" id="book-name-input" placeholder="Explore more titles">
            <button class="search-button"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </form>
    </aside>

    <!-- Display each result as card -->
    <section class="card-container">
      <% for(let i=0; i < maxCount; i++) { %>
        <!-- Only display books with complete information -->
        <% if(bookData[i] && bookData[i].volumeInfo && bookData[i].volumeInfo.imageLinks && bookData[i].volumeInfo.title && bookData[i].volumeInfo.description) { %>
          <%- include("partials/book_card.ejs", { bookData: bookData[i]}) %>
        <% } %>
      <% } %>
      <button class="load-btn">Load More</button>
    </section>
  </main>
  
  <script type="module" src="/navbar.js"></script>
  <script src="/search.js"></script>

  <!-- Handle load more logic-->
  <script>
    const loadMoreBtn = document.querySelector('.load-btn');
    loadMoreBtn.addEventListener('click', () => {
      const searchInput = document.location.href.split("/")[4];
      const searchCount = parseInt(document.location.href.split("/")[5]);
      document.location.href= `/search/${searchInput}/${searchCount+1}`
    })
  </script>
</body>

</html>