<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Best Books</title>
  <link rel="stylesheet" href="/styles.css">

  <!-- Import font awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <%- include("partials/navbar.ejs") %>

    <h2>Write a review</h2>
    <form class="review-form">
      <label for="review-score">Book score:</label>
      <input type="number" id="review-score" min="0" max="10">
      <label for="review-headline">Review headline:</label>
      <input type="text" id="review-headline">
      <label for="review-text">Book review:</label>
      <textarea id="review-text" cols="30" rows="10"></textarea>
      <button>Submit review</button>
    </form>

    <script type="module" src="/navbar.js"></script>
    <script type="module" src="/write_review.js"></script>
</body>