@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* ======= GENERAL STYLES ======= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 12px;
}

:root {
    --huge-text: 3.2rem;
    --big-text: 2.4rem;
    --med-text: 2rem;
    --small-text: 1.4rem;
    --tiny-text: 1.2rem;
    --nav-height: 6rem;
    --margin-size: 8rem;
    --text-light: rgb(70,70,70);
    --text-white: rgb(221, 221, 221);
    --accent-color: #ffd500;
    --main-light-color: #4d3ddf;
    --main-dark-color: #16005e;
}

@media screen and (max-width: 768px) {
    :root {
        --huge-text: 2.4rem;
        --big-text: 2rem;
        --med-text: 1.6rem;
        --small-text: 1.4rem;
        --tiny-text: 1rem;
        --margin-size: 3rem;
    }
}

@media screen and (max-width: 480px) {
    :root {
        --margin-size: 1rem;
    }
}

/* ======= TEXT STYLES ======= */
a {
    text-decoration: none;
    color: inherit;
}

.text {
    font-size: var(--small-text);
    color: var(--text-light);
}

.text--light {
    color: var(--main-light-color);
}

.text--small {
    font-size: var(--tiny-text);
}

.text--med {
    font-size: var(--med-text)
}

.text--dark {
    color: var(--main-dark-color);
}

.text--light {
    color: var(--main-light-color);
}

.text--accent {
    color: var(--accent-color);
    font-style: italic;
}

.text--white {
    color: whitesmoke;
}

.text--title {
    color: var(--main-dark-color);
    font-size: var(--huge-text);
}

.text--hover-highlight {
    color: var(--main-dark-color);
    transition: .2s ease-in-out;
    cursor: pointer;
    position: relative;
}

.text--hover-highlight:hover {
    color: var(--main-light-color);
}

.text--hover-highlight::after {
    content: "";
    background: var(--main-light-color);
    position: absolute;
    left: 0;
    bottom: -15%;
    width: 100%;
    height: 3px;
    transform: scale(0);
    transition: transform .2s ease-in-out;
}

.text--hover-highlight:hover::after {
    transform: scale(1);
}

/* ======= BUTTON STYLES ======= */
.btn {
    border: none;
    outline: none;
    cursor: pointer;
    padding: .5em 1.6em;
    border-radius: 5px;
    font-size: var(--small-text);
    transition: opacity .2s ease-in-out;
}

.btn--small {
    padding: .2em 1em;
}

.btn:hover {
    opacity: .9;
}

.btn--primary {
    background-color: var(--main-light-color);
    color: whitesmoke;
}

.btn--light {
    background-color: whitesmoke;
    color: var(--main-dark-color);
}

.btn--rounded {
    border-radius: 20px;
}

/* ======= CARD STYLES ======= */
.card {
    width: 100%;
    box-shadow: 0 1px 5px 2px rgba(0,0,0,0.1);
    display: flex;
    margin-bottom: 1.2em;
    min-height: 200px;
    border-radius: 5px 5px 5px 5px;
}

.card--bg {
    background-color: var(--main-light-color);
}

.card__image {
    width: 150px;
    position: relative;
}

.card__image--big {
    width: 250px;
    position: relative
}

.card__image img, .card__image--big img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px 0 0 5px;
    object-fit: cover;
    object-position: center;
}

.card__info {
    flex: 1;
    padding: 1em;
}

.card__info--big {
    flex: 1;
    padding: 2.5em;
}

.card__title {
    font-size: var(--med-text);
    font-weight: 600;
}

.card .author-container {
    margin-bottom: .5em;
}

.card .author {
    font-style: italic;
}

.card__description {
    font-size: var(--small-text);
    margin-bottom: .6em;
}

@media screen and (max-width: 768px) {
    .card {
        flex-direction: column;
    }

    .card__image, .card__image--big {
        width: 100%;
        height: 300px;
    }

    .card__image img, .card__image--big img {
        border-radius: 5px 5px 0 0;
        object-fit: cover;
    }

    .card__info--big {
        padding: 1.5em 1em;
    }
}

/* ======= LAYOUT STYLES ======= */
.section {
    margin: 3em var(--margin-size);
}

.section--columns {
    display: flex;
}

.section__aside {
    flex: 20%;
    margin-right: 2em;
}

.section__main {
    flex: 80%;
}

.section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3em 0 1em;
}

.section__title {
    font-size: var(--med-text);
    color: var(--main-dark-color);
    position: relative;
    left: 8px;
}

.section__title::before {
    content: "";
    position: absolute;
    top: 0;
    left: -8px;
    width: 5px;
    height: 100%;
    background-color: var(--main-dark-color);
}

@media screen and (max-width: 992px) {
    .section--columns {
        flex-direction: column;
    }

    .section__aside {
        margin-right: 0;
        margin-bottom: 2em;
    }
}

/* ======= HEADER ======= */
header {
    display: flex;
    padding: 0 var(--margin-size);
    height: var(--nav-height);
    box-shadow: 0 2px 5px 2px rgba(0,0,0,0.1);
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow-x: hidden;
}

.logo__text {
    font-size: var(--big-text);
    color: var(--main-dark-color);
}

.nav__ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav__item {
    margin-left: 2em;
}

.nav .login-required {
    display: none;
}

.nav.logged .nav__item {
    display: none;
}

.nav.logged .login-required {
    display: inline-block;
}

.toggle-menu--mobile-active {
    display: none;
    font-size: 2rem;
}

.toggle-menu {
    cursor: pointer;
    display: none;
    font-size: 2rem;
    color: var(--main-dark-color);
}

/* Make nav responsive */
@media screen and (max-width: 700px) {
    .toggle-menu {
        display: inline-block;
    }

    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        transition: .4s ease-in-out;
        height: 100%;
        z-index: 100;
        width: 60%;
        height: 100vh;
        background: var(--main-dark-color);
    }

    .nav.active {
        right: 0;
    }

    .toggle-menu--mobile-active {
        cursor: pointer;
        color: whitesmoke;
        display: inline-block;
        position: absolute;
        top: 1.4rem;
        left: 2rem;
    }

    .nav__ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav__item {
        margin-left: 0;
        margin-top: 1em;
    }

    .nav .text--hover-highlight {
        color: whitesmoke;
    }

    .nav .text--hover-highlight::after {
        background: whitesmoke;
    }

    .nav__btn {
        background: none;
        position: relative;
        padding: 0;
    }

    .nav__btn:hover {
        opacity: 1;
    }

    .nav__btn::after {
        content: "";
        background: whitesmoke;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        transform: scale(0);
        transition: transform .2s ease-in-out;
    }

    .nav__btn:hover::after {
        transform: scale(1);
    }
}

/* ======= MODAL STYLES ======= */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 500px;
    max-width: 80%;
    background: var(--main-dark-color);
    padding: 3em 4em;
    z-index: 1000;
    color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.1);
    transition: .5s ease-in-out;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.modal__title {
    font-size: var(--big-text);
}

.modal__header i {
    font-size: 1.8rem;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.modal__header i:hover {
    opacity: .8;
}

.modal__input {
    margin: .2em 0 .8em;
    width: 100%;
    padding: .2em;
}

.modal__message {
    display: none;
    margin-bottom: 1em;
    color: var(--accent-color);
    font-style: italic;
}

.modal__message.active {
    display: inline-block;
}

.modal .btn {
    margin-top: .6em;
}

.overlay {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    pointer-events: none;
}

.overlay.active {
    z-index: 1000;
    opacity: 1;
    pointer-events: all;
}

@media screen and (max-width: 768px) {
    .modal {
        padding: 3em 1em;
    }
}

/* ======= BANNER SECTION ======= */
.banner {
    height: calc(100vh - var(--nav-height));
    background: url('/images/book-banner.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.search-book-form {
    width: 100%;
    display: relative;
}

.form-wrapper {
    width: 80%;
    position: absolute;
    top: 28%; 
    left: 50%;
    transform: translateX(-50%);
}

.search-label {
    text-align: center;
}

.search-bar {
    width: 50%;
    position: relative;
    display: flex;
    margin: 2em auto;
}

#book-name-input {
    width: 100%;
    border: 3px solid var(--main-dark-color);
    border-right: none;
    padding: 5px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: black;
}

#book-name-input:focus {
    color: var(--main-dark-color);
}

.search-button {
    width: 40px;
    height: 40px;
    border: 1px solid var(--main-dark-color);
    background: var(--main-dark-color);
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

@media screen and (max-width: 992px) {
    .form-wrapper {
        top: 25%;
    }
}

@media screen and (max-width: 768px) {
    .form-wrapper {
        top: 20%;
    }

    .search-bar {
        width: 100%;
    }
}

/* ======= SEARCH RESULT SECTION ======= */
#search-title {
    color: var(--text-light);
    font-weight: 600;
}

.small-form-wrapper {
    margin-top: 1em;
    width: 100%;
}

.small-form-wrapper .search-bar {
    width: 100%;
    margin: 0;
}

/* ======= BOOK INFO VIEW ======= */
.review-card:nth-child(2n) {
    background-color: #cfcde2;
}

.review-card {
    display: flex;
    padding: .5em;
}

.review-card__score {
    margin-right: .2em;
    margin-top: .2em;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
}

.review-card__score.high {
    border: 4px solid green;
    color: green;
}
.review-card__score.med {
    border: 4px solid var(--accent-color);
    color: var(--accent-color);
}
.review-card__score.low {
    border: 4px solid red;
    color: red;
}

.review-card__author {
    color: var(--main-light-color);
    font-style: italic;
}

/* ======= WRITE REVIEW VIEW ======= */
.review-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.review-form .form-row {
    width: 100%;
    display: flex;
    margin: 1em 0;
}

.review-form label {
    margin-right: .5em;
    font-style: italic;
}

.review-form #review-headline {
    flex: 1;
}

.review-form #review-score {
    margin-right: 1em;
}

.review-form #review-text-label {
    color: var(--main-light-color);
    font-weight: bold;
    font-style: normal;
    font-size: var(--small-text);
}

.review-form input {
    border: none;
    border-bottom: 1px solid #999;
}

.review-form input:focus {
    outline: none;
    border-bottom: 1px solid var(--main-light-color);
}

.review-form textarea {
    resize: none;
    width: 100%;
}

.review-form textarea:focus {
    border: 1px solid var(--main-light-color);
    outline: none;
}

.review-form .btn {
    margin-top: 1em;
}  

@media screen and (max-width: 768px) {
    .review-form .form-row {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }

    .review-form input {
        margin-bottom: 2em;
        width: 100%;
    }
}