@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --big-text: 2rem;
    --nav-height: 5rem;
    --margin-size: 6rem;
    --main-color: #e0ba04;
    --second-color: #1C0760;
}

@media screen and (max-width: 700px) {
    :root {
        --big-text: 1.5rem;
        --margin-size: 3rem;
    }
}

/* ======= HEADER ======= */

header {
    display: flex;
    margin: 0 var(--margin-size);
    height: var(--nav-height);
    align-items: center;
    justify-content: space-between;
    color: var(--second-color);
    position: relative;
    overflow-x: hidden;
}

header .logo {
    font-size: var(--big-text);
}

nav .nav-ul {
    display: flex;
}

nav .nav-item {
    list-style: none;
    margin-left: 1.5em;
    cursor: pointer;
    position: relative;
}

nav .nav-item::after {
    display: inline-block;
    position: absolute;
    bottom: -15%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--second-color);
    content: '';
    transform: scale(0);
    transition: .2s ease-in-out;
}

nav .nav-item:hover::after {
    transform: scale(1);
}

nav .nav-toggle-menu {
    display: none;
}

.toggle-menu {
    cursor: pointer;
    display: none;
}

.toggle-menu i {
    font-size: 1.5rem;
}

/* Make nav responsive */
@media screen and (max-width: 700px) {
    .toggle-menu {
        display: inline-block;
    }

    nav {
        position: fixed;
        top: 0;
        right: -100%;
        transition: .2s ease-in-out;
        height: 100%;
        z-index: 100;
    }

    nav.active {
        width: 60%;
        right: 0;
        height: 100vh;
        background: var(--second-color);
    }

    nav.active .nav-toggle-menu {
        display: inline-block;
    }

    nav.active .nav-ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav.active .nav-item {
        color: white;
        margin-left: 0;
        margin-top: 1em;
        font-size: 1.2rem;
    }

    nav.active .nav-item::after {
        background: white;
    }

    nav.active .nav-toggle-menu {
        cursor: pointer;
        position: absolute;
        top: 2em;
        left: 2em;
    }

    nav.active .nav-toggle-menu i {
        color: white;
        font-size: 1.2rem;
    }
}

/* ======= BANNER SECTION ======= */

.banner {
    height: calc(100vh - var(--nav-height));
    background: url('/images/book-banner.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.search-book-form {
    transform: translateY(20%);
    width: 80%;
    margin: 0 auto;
}

.search-label {
    text-align: center;
    color: var(--second-color);
    font-size: var(--big-text);
}

.search-bar {
    width: 50%;
    position: relative;
    display: flex;
    margin: 2em auto;
}

#book-name-input {
    width: 100%;
    border: 3px solid var(--second-color);
    border-right: none;
    padding: 5px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: black;
}
#book-name-input:focus {
    color: var(--second-color);
}

.search-button {
    width: 40px;
    height: 40px;
    border: 1px solid var(--second-color);
    background: var(--second-color);
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

@media screen and (max-width: 1000px) {
    .search-book-form {
        transform: translateY(15%);
    }
}

@media screen and (max-width: 700px) {
    .search-book-form {
        transform: translateY(10%);
    }
    
    .search-bar {
        width: 100%;
    }
}